<!DOCTYPE html>
doctype 5
html(id="ng-app", ng-app="adsCmsFrontendApp")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title="Accenture Digital Signage Heroku"
        link(rel='stylesheet', href='/styles/bootstrap.css')
    body
        div.navbar.navbar-inverse.navbar-fixed-top
            div.container
                div.navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                a.navbar-brand(href="#") Accenture Digital Signage
                div.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href="#") Home
                        li.disabled
                            a(href="#player") Media Player
                        li.disabled
                            a(href="#templates") Templates
                        li.disabled
                            a(href="#sourceadapters") Source adapters
        div.jumbotron
            div.container
                block jumbotron
        div.container
            block content
script(src="/scripts/libs/jquery.js")
script(src="/scripts/libs/bootstrap.js")
script(src="/bower_components/angular/angular.js")
script(src="/scripts/app.js")
script(src="/scripts/controllers/mediaPlayerController.js")
script(src="/scripts/services/mediaPlayerService.js")
script(src="/bower_components/angular-resource/angular-resource.js")
script(src="/bower_components/angular-route/angular-route.js")
